label{
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 15px; 
}

.input-field{
  display: flex;
  flex-direction: column;
}

input{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 350px;
}

.helper-text {
  color: #ff6b6b;
  font-size: 13px;
  margin: 4px 0 0 0;
}