html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(244, 245, 247, 1);
}

.container{
    flex-direction: column;
    display: flex;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

#password-container{
    flex: 1;
    flex-direction: column;
    align-self: center;
    text-align: center;
    max-width: 400px;
}

#password-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 32px; 
}

.helper-text {
  color: #ff6b6b;
  font-size: 13px;
  margin: 4px 0 0 0;
}

.password-upload{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}