html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(244, 245, 247, 1);
}

.container{
    width: 100%;
    max-width: 600px;
    justify-self: center;
    justify-items: center;
}

.writing-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.page-title{
    font-family: "Pretendard", sans-serif;    
    font-weight: 700;
    font-size: 24px;  
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-title{
    font-family: "Pretendard", sans-serif;    
    font-weight: 700;
    font-size: 16px;  
    text-align: start;
}

.text-area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    gap: 10px;    
}

.image-button-container{
    display: flex;
    flex-direction: row;
    gap: 4px;
}