<header id="main-header">
    <div class="header-container">
      <button id="header-back-button" class="back-button" style="visibility: hidden;">❮</button>
      <h1 class="header-title">생각 나는 대로</h1>
      <div id="profile-wrapper" style="visibility: hidden;">
        <button class="profile-button" id="profile-button">
          <img src="" alt="프로필" id="header-profile-image">
        </button>
        <div class="profile-menu" id="profile-menu">
          <ul>
            <li id="header-profile-modify-button">회원정보수정</li>
            <li id="header-password-modify-button">비밀번호수정</li>
            <li id="logout-button">로그아웃</li>
          </ul>
        </div>
      </div>
    </div>
</header>