<post-summary-info>
    <div class="card">
        <p class="title">__TITLE__</p>
        <div class="info-container">
            <div class="statistics-container">
                <div class="statistics-block">
                    <p class="info">좋아요 __LIKE_COUNT__</p>
                </div>
                <div class="statistics-block">
                    <p class="info">댓글 __COMMENT_COUNT__</p>
                </div>
                <div class="statistics-block">
                    <p class="info">조회수 __VIEW_COUNT__</p>
                </div>
            </div>
            <p class="info" >__CREATED_AT__</p>
        </div>
        <hr>
        <div class="profile-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Sample_User_Icon.png/480px-Sample_User_Icon.png" alt="프로필" class="profile-image" id="header-profile-image">
            <p class="nickname">__NICKNAME__</p>
        </div>
    </div>
</post-summary-info>