html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    width: 100%;
    max-width: 400px;
}

.post-title-container{
    width:100%;
    text-align: start;
}

.post-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 24px; 
}

.title-sub-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.post-info-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  margin-right: 10px;
}

.nickname{
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 15px; 
}

.info{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 14px; 
}

.post-update-button{
    border-radius: 5px;
    border-color: rgba(172, 160, 235, 1);
    background-color: white;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center; 
    width: 100%;
}

.post-image{
    width: 100%;
}

.content{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 15px;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal; 
    width: 100%;
    text-align: start;
}

.post-count-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.count-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 116px;
    height: 77px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    border-color: transparent;
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.count-box[active]{
  background-color: #ACA0EB;
}

.count{
    font-size: 24px;
}

.comment-input-box{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

.comment-text{
  flex: 1;
  height: 100px;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

#comment-container{
    width: 100%;
    max-width: 400px;
}